<a  id="guide" data-id="{{tenantId}}" class="weui-tabbar__item Ftext">
    <i class="icon iconfont icon-daogou"></i>
    <!--<p class="weui-tabbar__label f12">讲师</p>-->
    <p class="weui-tabbar__label f12">客服</p>
</a>
<a id="product_collect" href="javascript:;" class="weui-tabbar__item Ftext">
    {{#compare hasFavorite '==' true}}
        <i class="iconfont icon-s-star"></i>
    {{/compare}}
    {{#compare hasFavorite '==' false}}
        <i class="iconfont icon-l-star"></i>
    {{/compare}}
    <p class="weui-tabbar__label f12">收藏</p>
    <span class="proFavorite none"></span>
</a>
<a href="javascript:;" class="weui-tabbar__item Ftext cartTenant">
    <span class="weui-badges">
       <!--<i class="icon iconfont icon-gouwuche"></i>-->
        <!--<span class="weui-badge f12" style="display: none;"></span>-->
        <i class="iconfont icon-fenxiang1"></i>
    </span>
    <!--<p class="weui-tabbar__label f12">购物车</p>-->
    <p class="weui-tabbar__label f12">分享</p>
</a>
<a href="javascript:;" class="weui-tabbar__item Ftext"></a>
<a href="javascript:;" class="weui-tabbar__item Ftext"></a>
<!--<a href="javascript:;" class="weui-tabbar__item f14 add_btn" id="sheet_add_card">加入购物车</a>-->
<a href="javascript:;" class="weui-tabbar__item f14 buy_btn" id="sheet_buy_now">立即报名</a>