<!--BEGIN product_evaluate-->
    <a class="weui-cell weui-cell_access bornone hd">
        <div class="weui-cell__hd f14">评价</div>
        <div class="weui-cell__bd f12">
            {{#if review}}
            <span>暂无评价，购买后快来发表评价</span>
            <span>好评{{positivePercent}}%</span>
            {{/if}}
        </div>
        <div class="weui-cell__ft"></div>
    </a>
    <div class="weui-cells bd">
        {{#compare review '!=' null}}
        <div class="weui-cell bornone">
            <div class="weui-cell__hd">
                <img src="{{crop review.headImg 10 10}}" alt="icon">
            </div>
            <div class="weui-cell__bd f12 renickName">{{review.nickName}}</div>
            <div class="weui-cell__ft f12">{{review.createDate}}</div>
        </div>
        <div class="weui-cell bornone">
            <div class="weui-cell__bd f12"><span>{{review.content}}</span></div>
        </div>
        {{/compare}}
        {{#compare review '==' null}}
        <span class="not f12">暂无评价，购买后快来发表评价</span>
        {{/compare}}
    </div>
{{#if review}}
    <a class="weui-cell weui-cell_access bornone ft" id="evaluate">
        <div class="weui-cell__bd f12">查看全部评价</div>
    </a>
{{/if}}
<!--END product_evaluate-->