<div class="page">
    <div class="page__bd">
        <div style="width: 90%">
            <div class="weui-cells" style="margin: 0px auto;background-color: white">
                <div class="weui-cell" style="height: 40px;border: none">
                    <div class="weui-cell__hd"><label>商家名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入商家名称">
                    </div>
                </div>
                <div class="weui-cell" style="height: 40px">
                    <div class="weui-cell__hd"><label>联系人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入真实姓名">
                    </div>
                </div>
            </div>


            <div class="weui-cells" style="margin: 0px auto;background-color: white">
                <div class="weui-cell" style="height: 40px;border: none">
                    <div class="weui-cell__hd"><label>商家名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入商家名称">
                    </div>
                </div>
                <div class="weui-cell" style="height: 40px">
                    <div class="weui-cell__hd"><label>联系人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入真实姓名">
                    </div>
                </div>
            </div>



            <div class="weui-cells" style="margin: 0px auto;background-color: white">
                <div class="weui-cell" style="height: 40px;border: none">
                    <div class="weui-cell__hd"><label>商家名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入商家名称">
                    </div>
                </div>
                <div class="weui-cell" style="height: 40px">
                    <div class="weui-cell__hd"><label>联系人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入真实姓名">
                    </div>
                </div>
                <div class="weui-cell" style="height: 40px">
                    <div class="weui-cell__hd"><label>联系人</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入真实姓名">
                    </div>
                </div>
            </div>


            <div class="weui-cells" style="margin: 0px auto;background-color: white">
                <div class="weui-cell" style="height: 40px;border: none">
                    <div class="weui-cell__hd"><label>商家名称</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入商家名称">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
