
<style type="text/css">
    .weui-cells::before
    {
        border: none;

    }
</style>

<div class="page__bd">
    <div class="weui-cells" style="margin: 0px auto;background-color: white">
        <div class="weui-cell" style="height: 40px;border: none">
            <div class="weui-cell__hd"><label>商家名称</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入商家名称">
            </div>
        </div>
        <div class="weui-cell" style="height: 40px">
            <div class="weui-cell__hd"><label>联系人</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入真实姓名">
            </div>
        </div>
        <div class="weui-cell" style="height: 40px">
            <div class="weui-cell__hd"><label>联系电话</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" style="margin-left: 40px" type="text" placeholder="请输入手机号">
            </div>
        </div>
    </div>

    <div class="weui-panel__ft" style="background-color: white;margin-top: 10px">
        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
            <div class="weui-cell__bd" style="color: #3e3e3e">补充商家资料</div>
            <span class="weui-cell__ft"></span>
        </a>
    </div>


    <div style="background-color: white;height: 40px;margin-top: 10px;display: flex;align-items: center;">
        <label style="margin-left: 15px;">营业执照 </label>
    </div>
    <div  class="weui-panel__bd" style="background-color: #ffff66;color:#8c8c8c;width: 100%;">
        <h3 class="weui-media-box__title" style="font-size: 11px;margin-left: 15px;vertical-align:middle">点击上传身份证正面照片</h3>
    </div>

    <div class="weui_cell">
        <div class="weui_cell_bd weui_cell_primary">
            <div class="weui_uploader">
                <div class="weui_uploader_hd weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">单图片压缩上传</div>
                    <div class="weui_cell_ft"></div>
                </div>
                <div class="weui_uploader_bd">
                    <ul class="weui_uploader_files" id='img'>

                    </ul>
                    <div class="weui_uploader_input_wrp">
                        <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" id="headimgurl" />
                        <input  type="hidden"  id="headimgurl1" />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="weui-cells">-->

        <!--<div class="weui-cell weui_cell_primary" style="height: 16%">-->
            <!--<div class="weui-cell_hd" style="color: #333333;background-color: white;height: 40%">-->
                <!--营业执照 <label style="margin-left: 50px; color: #f3f2f2">填写营业执照号</label>-->
            <!--</div>-->
            <!--<div class="weui-cell_bd " style="height: 60%">-->
                <!--<div class="weui_uploader">-->
                    <!--<div class="weui_uploader_hd weui_cell">-->
                        <!--<div class="weui_cell_bd weui_cell_primary">单图片压缩上传</div>-->
                        <!--<div class="weui_cell_ft"></div>-->
                    <!--</div>-->
                    <!--<div class="weui_uploader_bd">-->
                        <!--<ul class="weui_uploader_files" id='img'>-->

                        <!--</ul>-->
                        <!--<div class="weui_uploader_input_wrp">-->
                            <!--<input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" id="headimgurl" />-->
                            <!--<input  type="hidden"  id="headimgurl1" />-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <div class="weui-pannel__bd">

    </div>
    <div  class="weui-panel__bd" style="background-color: #ffff66;color:#8c8c8c;width: 100%;">
        <h3 class="weui-media-box__title" style="font-size: 11px;margin-left: 15px;vertical-align:middle">点击上传身份证正面照片</h3>
    </div>
    <div  class="weui-panel__bd" style="background-color: #ffff66;color:#8c8c8c;width: 100%;">
        <h3 class="weui-media-box__title" style="font-size: 11px;margin-left: 15px;vertical-align:middle">点击上传身份证反面照片</h3>
    </div>
</div>

