@charset "UTF-8";
#iSlider-wrapper{
  .topNav{
    padding: 10px 0 5px;
    position: fixed;
    top:0;
    left:0;
    z-index: 999999999;
    width: 100%;
    .weui-cell__hd{
      line-height: 30px;
    }
    .weui-cell__bd{
      color: @light-gray;
      border-radius: 20px;
      background: @white;
      margin: 0 2%;
      .weui-icon-clear:before, .weui-icon-search:before{
        color:@dark-gray !important;
      }
      .weui-search-bar__box .weui-search-bar__input{
        color: @dark-gray;
      }
    }
  }
}