@charset "UTF-8";
.nav_change_HGY{
  background: #d2ca87;
  padding: 10px 0 5px;
  position: fixed;
  top:0;
  left:0;
  z-index: 999999999;
  width: 100%;
  .col-20{
    color: @white;
    border-radius: 20px;
    background: rgba(46, 58, 23, 0.34);
    margin: 0 2%;
    .weui-icon-clear:before, .weui-icon-search:before{
      color:@white !important;
    }
    .weui-search-bar__box .weui-search-bar__input{
      color: @white;
    }
  }
  .col-3{
    .iconfont{
      color: @white;
    }
  }
}