<div class="page">
    <div class="page_bd">
        <div class="weui_cells " style="margin: 0 auto;width: 100%;background-color: white">
            <div class="weui_cell" style="height: 40px">
                <div class="weui_cell_hd">商家账号</div>
                <div class="weui_cell_bd" style="margin-left: 10px">
                    <div style="height: 100%;width: 1px"></div>
                    <input class="weui_input" type="number" placeholder="请填写商家账号" style="color:#999999">
                </div>

            </div>

            <div class="weui_cell" style="height: 40px">
                <div class="weui_cell_hd">消费金额</div>
                <div class="weui_cell_bd" style="margin-left: 10px">
                    <input class="weui_input" type="number" placeholder="请填写收款金额" style="color:#999999">
                </div>
            </div>
        </div>
    </div>
    <div class="weui_panel" style="height: 40px; display: flex;justify-content: flex-start;align-items:center">
        <label style="margin-left: 10px">使用300积分抵扣3元</label>
        <input class="weui_switch" type="checkbox" id='ck' style="padding-right: 10px;margin-left: auto;" />
    </div>
</div>