<div class="page_bd" style="background-color: white">

    <div class="weui_cells " style="margin: 0 auto;width: 90%">
        <div class="weui_cell" style="height: 40px">
            <div class="weui_cell_bd weui_cell_primary">
                修改密码
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>

        <div class="weui_cell" style="height: 40px">
            <div class="weui_cell_bd weui_cell_primary">
                修改手机号
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
    </div>
</div>
