
<style type="text/css">
    .weui_cells::before
    {
        border: none;

    }

    #register
    {
        text-decoration-line: underline;
        color: #333333;
        margin-left: 50px
    }
</style>

<head>
    <title>登陆</title>
</head>

<div class="page_bd" style="background-color: white">
    <div style="text-align: center;">
        <img src="/images/common/LOGO.png" style="width:100%; height:100%;"/>
    </div>
    <div class="weui_cells" style="margin: 0 auto;width: 90%">
        <div class="weui_cell" style="height: 40px;border: none">
            <div class="weui_cell_hd"><img src="/images/login/account.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd">
                <input class="weui_input" type="tel" placeholder="用户名">
            </div>
        </div>
        <div class="weui_cell" style="height: 40px">
            <div class="weui_cell_hd"><img src="/images/login/passwd.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
            <div class="weui_cell_bd">
                <input class="weui_input" type="password" placeholder="登录密码" style="color:#999999">
            </div>
            <div class="weui_cell_ft">
                <label class="weui_check_label" style="color: #3782d9">忘记密码?</label>
            </div>
        </div>
    </div>

    <div style="margin-top: 40px">
        <button class="weui_btn weui_btn_default" style="color: white ; background-color: #3782d9;   margin: 0 auto;width: 90%">登录</button>
    </div>


    <a class="weui_cell " href="javascript:;">
        <div class="weui_cell_bd weui_cell_primary">
            <label class="weui_check_label" style="text-decoration-line: underline; color: #333333;">快速注册</label>
        </div>
        <div class="weui_cell_ft">  <label class="weui_check_label" style="text-decoration-line: underline; color: #333333;">手机验证码登录</label></div>
    </a>
</div>





