<style type="text/css">
    .weui-cells::before {
        border: none;
    }
    
    .weui-cell::before {
        background-color: white;
    }
    
    .weui_cells_checkbox .weui_check:checked+.weui_icon_checked:before {
        color: #3782d9;
    }
    
    #panel2 {
        background-color: white;
        margin-top: 10px;
        height: 40px;
    }
    
    .weui-cell {
        background-color: white;
    }
    
    .weui_check_label {
        float: left;
    }
</style>

<div class="page">
    <div class="weui-header themeColor navigationHeight">
        <h1 class="weui-header-title">推荐商家</h1>
    </div>
    <div class="page-bd" style="padding-bottom: 49px;">
        <div class="weui_cells" style="margin: 0px auto;background-color: white">
            <div class="weui_cell" style="height: 40px;border: none">
                <div class="weui_cell_hd"><label>商家名称</label></div>
                <div class="weui_cell_bd">
                    <input class="weui_input" style="margin-left: 40px" type="text" placeholder="请输入商家名称">
                </div>
            </div>
            <div class="weui_cell" style="height: 40px">
                <div class="weui_cell_hd"><label>联系人</label></div>
                <div class="weui_cell_bd">
                    <input class="weui_input" style="margin-left: 40px" type="text" placeholder="请输入真实姓名">
                </div>
            </div>
            <div class="weui_cell" style="height: 40px">
                <div class="weui_cell_hd"><label>联系电话</label></div>
                <div class="weui_cell_bd">
                    <input class="weui_input" style="margin-left: 40px" type="text" placeholder="请输入手机号">
                </div>
            </div>
        </div>

        <div class="weui_panel_ft" style="background-color: white;margin-top: 10px">
            <a href="javascript:void(0);" class="weui_cell weui_cell_access weui_cell_link">
                <div class="weui_cell_bd" style="color: #3e3e3e">补充商家资料</div>
                <span class="weui_cell_ft"></span>
            </a>
        </div>


        <div style="background-color: white;height: 40px;margin-top: 10px;display: flex;align-items: center;">
            <label style="margin-left: 15px;">营业执照 </label>
        </div>
        <div class="weui_panel_bd" style="background-color: #ffff66;color:#8c8c8c;width: 100%;display: flex;align-items: center;">
            <h3 class="weui_media_box_title" style="font-size: 11px;margin-left: 15px;vertical-align:middle">点击上传营业执照</h3>
        </div>


        <div class="weui_cell" style="background-color: white">
            <div class="weui_cell_bd weui_cell_primary">
                <div class="weui_uploader">
                    <div class="weui_uploader_bd">
                        <ul class="weui_uploader_files" id='img1'>

                        </ul>
                        <div class="weui_uploader_input_wrp">
                            <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" id="headimgur10" />
                            <input type="hidden" id="headimgurl1" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="weui_cell" style="height: 40px;border: none">
            <div class="weui_cell_hd"><label>法人身份证号</label></div>
            <div class="weui_cell_bd">
                <input class="weui_input" style="margin-left: 40px" type="text" placeholder="请输入身份证号">
            </div>
        </div>

        <div class="weui_panel_bd" style="background-color: #ffff66;color:#8c8c8c;width: 100%;">
            <h3 class="weui_media_box_title" style="font-size: 11px;margin-left: 15px;vertical-align:middle">点击上传身份证正面照片</h3>
        </div>

        <div class="weui_cell" style="background-color: white">
            <div class="weui_cell_bd weui_cell_primary">
                <div class="weui_uploader">
                    <div class="weui_uploader_bd">
                        <ul class="weui_uploader_files" id='img2'>

                        </ul>
                        <div class="weui_uploader_input_wrp">
                            <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" id="headimgurl4" />
                            <input type="hidden" id="headimgurl2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-panel__bd" style="background-color: #ffff66;color:#8c8c8c;width: 100%;">
            <h3 class="weui-media-box__title" style="font-size: 11px;margin-left: 15px;vertical-align:middle">点击上传身份证反面照片</h3>
        </div>

        <div class="weui_cell" style="background-color: white">
            <div class="weui_cell_bd weui_cell_primary">
                <div class="weui_uploader">
                    <div class="weui_uploader_bd">
                        <ul class="weui_uploader_files" id='img3'>

                        </ul>
                        <div class="weui_uploader_input_wrp">
                            <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" id="headimgurl5" />
                            <input type="hidden" id="headimgurl3" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui_cells weui_cells_checkbox">

            <div class="weui_cell">
                <label class="weui_cell weui_check_label" for="s11">
            <div class="weui_cell_hd">
                <input type="radio" class="weui_check" name="checkbox1" id="s11" checked="checked">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>对工长账户</p>
            </div>
        </label>
                <label class="weui_cell weui_check_label" for="s12">
            <div class="weui_cell_hd">
                <input type="radio" name="checkbox1" class="weui_check" id="s12">
                <i class="weui_icon_checked"></i>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>法人账户</p>
            </div>
        </label>
            </div>

            <div class="weui_cell">
                <div class="weui_cell_hd">开户名</div>
                <div class="weui_cell_bd">
                    <input class="weui_input" style="margin-left: 40px" type="text" placeholder="请输入银行开户名">
                </div>
            </div>

            <div class="weui_cell">
                <div class="weui_cell_hd">开户行</div>
                <div class="weui_cell_bd">
                    <input class="weui_input" style="margin-left: 40px" type="number" placeholder="请输入开户银行">
                </div>
            </div>

            <div class="weui_cell">
                <div class="weui_cell_hd">账号</div>
                <div class="weui_cell_bd">
                    <input class="weui_input" style="margin-left: 40px" type="number" placeholder="请输入15或18位卡号">
                </div>
            </div>

            <div class="weui_cell weui_cell_primary">
                <div class="weui_uploader">
                    <div class="weui_uploader_hd weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">授权书
                            <span class="icon icon-87"></span>
                        </div>
                        <div class="weui_cell_ft"></div>
                    </div>
                    <div class="weui_uploader_bd">
                        <ul class="weui_uploader_files" id='img63'>

                        </ul>
                        <div class="weui_uploader_input_wrp">
                            <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" id="headimgur11" />
                            <input type="hidden" id="headimgurl61" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="weui_cell" style="background-color: white; margin-top: 10px">
                <div class="weui_cell_bd weui_cell_primary">
                    <div class="weui_uploader">
                        <div class="weui_uploader_hd weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">营业场所
                                <span class="icon icon-87"></span>
                            </div>
                            <div class="weui_cell_ft"></div>
                        </div>
                        <div class="weui_uploader_bd">
                            <ul class="weui_uploader_files" id='img6'>

                            </ul>
                            <div class="weui_uploader_input_wrp">
                                <input class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" id="headimgur1" />
                                <input type="hidden" id="headimgurl6" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>