<div class="page_bd" style="background-color: white">

    <div class="weui_cells weui_cells_access" style="margin: 0 auto;width: 90%">
        <div class="weui_cell" style="height: 40px">
            <div class="weui_cell_bd weui_cell_primary">
                修改密码
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>

        <div class="weui_cell" style="height: 40px">
            <div class="weui_cell_bd weui_cell_primary">
                修改手机号
            </div>
            <div class="weui_cell_ft">
            </div>
        </div>
    </div>

    <div style="margin-top: 40px">
        <button class="weui_btn weui_btn_default" style="color: white ; background-color: #3782d9;   margin: 0 auto;width: 90%">登录</button>
    </div>
</div>

